body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.intro {
    margin-top: 70px;
    background-color: #f9f9ff;
    padding-bottom: 0px;
}

.about {
    margin-top: 70px;
    background-color: #fff;
}

.text-uppercase {
    text-transform: uppercase;
}

.intro h1 {
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 600;
    font-size: 30px;
}

.about h1 {
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 600;
    font-size: 20px; 
    margin-bottom: 40px;
}

.intro h6 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
}

.about h6 {
    margin: 20px 0 30px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}

p {
    color: #777777;
    line-height: 1.625em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.about p {
    margin-bottom: 30px;
}

.introImg {
    float: center; 
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
} 

.aboutImg {
    float: center; 
    width: 100%;
}

@media (min-width: 640px) {
    .introImg {
        float: left; 
    } 
}

@media (min-width: 800px) {
    .intro {
        margin-top: 70px;
        padding-top: 100px;
    }
    .introImg {
        width: 92%;
        margin-left: 0;
        margin-right: 0;
    } 
    .intro-left {
        padding-top: 100px;
    }
    .about-right {
        padding-top: 100px;
    }
    .aboutImg {
        padding-top: 130px;
        padding-left: 10px;
        width: 95%;
    }
    .about {
        margin-top: 0px;
    }
    .about h6 {
        margin: -20px 0 30px 0;
    }
}

@media (min-width: 1080px) {
    .intro {
        margin-top: 70px;
        padding-top: 100px;
        padding-bottom: 0px;
    }
    .intro h1 {
        font-size: 54px;
    }
    .intro-left {
        padding-top: 70px;
    }
    .about-right {
        padding: 110px 20px 0px 80px;
    }
    .about h1 {
        font-size: 34px;
    }
    .aboutImg {
        padding-top: 100px;
        padding-left: 20px;
        width: 100%;
    }
}
