body {
        font-family: "Poppins",sans-serif;
        font-size: 14px;
}


.intro {
    background-color: #f9f9ff;
}

.text-uppercase {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 600;

}

h6 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
}

p {
    color: #777777;
    line-height: 1.625em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}