body {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
}

.intro {
    margin-top: 70px;
    background-color: #f9f9ff;
}

.text-uppercase {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 600;
    font-size: 30px;
}

h6 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
}

p {
    color: #777777;
    line-height: 1.625em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.introImg {
    float: center; 
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
} 

@media (min-width: 640px) {
    .introImg {
        float: left; 
    } 
}

@media (min-width: 800px) {
    .intro {
        margin-top: 70px;
        padding-top: 100px;
    }
    .introImg {
        width: 92%;
        margin-left: 0;
        margin-right: 0;
    } 
    .intro-left {
        padding-top: 100px;
    }
}

@media (min-width: 1080px) {
    .intro {
        margin-top: 70px;
        padding-top: 100px;
        padding-bottom: 0px;
    }
    h1 {
        font-size: 54px;
    }
    .intro-left {
        padding-top: 70px;
    }
}
