.partnersContainer {
    background: -moz-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    background: -webkit-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    background: -ms-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    padding: 80px 0 80px 0;
    justify-content: center;
    box-sizing: border-box;
}
.partnersSlide {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliderWraper {
box-sizing: border-box;
width: 1200px;
display: flex;
justify-content: center;
}
@media (max-width: 1200px){
    .sliderWraper {
        width: 1000px;
    }
}

@media (max-width: 1000px){
    .sliderWraper {
        width: 800px;
    }
}
@media (max-width: 850px){
    .sliderWraper {
        width: 650px;
    }
}
@media (max-width: 750px){
    .sliderWraper {
        width: 450px;
    }
}
@media (max-width: 450px){
    .sliderWraper {
        width: 250px;
    }
}


.slideLogo > a > img {
    opacity: 0.5;
}
.slideLogo > a :hover {
    opacity: 1;
}
.slideLogo {
    padding: 20px;
    width: auto;
    justify-content: center;
    align-items: center;
}

