.partnersContainer {
    box-sizing: border-box;
    background: -moz-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    background: -webkit-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    background: -ms-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    padding: 80px 0 80px 0;
}
.logosSlide {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slideLogo > a > img {
    opacity: 0.5;
}
.slideLogo > a :hover {
    opacity: 1;
}