.featured-projects > .row {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.featured-projects > .row.gap {
    margin-top: 70px;
}

@media (min-width: 1080px) {
    .featured-projects > .row > .projects-header {
        grid-column-start: 3;
    }
}

.featured-projects > .row > .projects-header > h1 {
    text-transform: none;
    font-size: 36px;
    font-weight: 600;
}

.featured-projects > .row > .projects-header > p {
    font-size: 14px;
}

.featured-projects > .row.project-types > div > span {
    margin-left: 15px;
    margin-right: 15px;
    text-transform: uppercase;
}

.featured-projects > .row.project-types > div > .vector {
}

.featured-projects > .row.images {
    margin-top: 50px;
    position: relative;
}

.featured-projects > .row.images > div > h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 1.2em;
}

.featured-projects > .row.images > div > p {
    margin-top: 0;
    line-height: 1.625em;
}

.featured-projects > .row.images > div > .binoculars {
    position: absolute;
    top: 50%;
    left: 50%;
}